<div class="options">
	<div class="backwards">
		<%= link_to "<< " + session[:search], dashboard_url %>
	</div><div class="forwards">
		<%= link_to "pindex >>", pindex_url %>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<div id="map-canvas"></div>
<script>
	var latLng;

	/*
		Render map based on initial and final location
	*/
	function initialize(lat, lng) {
		
		latLng = new google.maps.LatLng(lat, lng);
		var styles = [
		  {
		    "stylers": [
		      { "saturation": "-100" }
		    ]
		  }
		]
		var mapOptions = {
			zoom: <%= @city.zoom %>,
			center: latLng,
			styles: styles
		};
		map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		
		<% @city.pins.each do |pin| %>
			pinLatLng = new google.maps.LatLng(<%= pin.latitude %>, <%= pin.longitude %>);
			var marker = new google.maps.Marker( {
				map: map,
				position: pinLatLng,
				icon: "<%= asset_path('friend_pin.png') %>"
			});
		<% end %>
	}

  	initialize(<%= @city.latitude %>, <%= @city.longitude %>);
</script>
