<div class="options">
	<div class="backwards">
		<%= link_to "<< " + session[:search], dashboard_url %>
	</div><div class="forwards">
		<%= link_to "pindex >>", pindex_get_url %>
	</div>
</div>

<% @city.pins.each do |pin| %>
	<p><%= pin.latitude %></p>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<div id="map-canvas"></div>
<script>
	var latLng;

	/*
		Render map based on initial and final location
	*/
	function initialize(lat, lng) {
		
		latLng = new google.maps.LatLng(lat, lng);
		var styles = [
		  {
		    "stylers": [
		      { "hue": "#3F5666" }
		    ]
		  }
		]
		var mapOptions = {
			zoom:15,
			center: latLng,
			styles: styles
		};
		map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		
		//var image = "img/" + type + ".png";
	  	//var marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(latitude, longitude), icon: image });
	}
  	//initialize(41.414495, 2.152694);
  	initialize(<%= @city.pins.first.latitude %>, <%= @city.pins.first.longitude %>);
</script>
