<div class="options">
	<div class="backwards">
		<%= link_to "<< map", explore_url(city: session[:search]), method: :post %>

	</div>
</div>
<h3>Top 5 Arts & Entertainment </h3>
<ol>
	<% for i in 0..4 %>
		<% pin = @arts_pins[i] %>
		<li>
			<h5>
				<%= pin["name"] %>
			</h5>
			<p>
				Rating: <%= pin["rating"] %>
			</p>
			<p>
				(<%= pin["latitude"] %>, <%= pin["longitude"] %> )
			</p>
		</li>	
	<% end %>
</ol>

<h3>Top 5 Food & Beverage </h3>
<ol>
	<% for i in 0..4 %>
		<% pin = @food_pins[i] %>
		<li>
			<h5>
				<%= pin["name"] %>
			</h5>
			<p>
				Rating: <%= pin["rating"] %>
			</p>
			<p>
				(<%= pin["latitude"] %>, <%= pin["longitude"] %> )
			</p>
		</li>	
	<% end %>
</ol>

<h3>Top 5 Tours & Attractions </h3>
<ol>
	<% for i in 0..4 %>
		<% pin = @tour_pins[i] %>
		<li>
			<h5>
				<%= pin["name"] %>
			</h5>
			<p>
				Rating: <%= pin["rating"] %>
			</p>
			<p>
				(<%= pin["latitude"] %>, <%= pin["longitude"] %> )
			</p>
		</li>	
	<% end %>
</ol>
