
<div class="options">
	<div class="backwards">
		<%= link_to "<< map", explore_url(city: session[:search]), method: :post %>
	</div>
</div>

<h1>pick your stops</h1>

<%= form_tag plan_pintrip_url, method: :post, :class => "pin-form" do %>
<div class="pin-details">
	<% @city.pins.each do |pin| %>
		<div class="pin" id="pin<%= pin.id %>" data-id="<%= pin.id %>">
			<input type="checkbox" id="check<%= pin.id %>" style="display:none" name="pin_stops[]" value="<%= pin.id %>">
			<div class="row row1">
				<div class="circle pushpin">
				</div>
				<h2><%= pin.title %></h2>
			</div>
			<div class="row row2">
				<% if pin.ratings.count == 1 %>
					<% pin.ratings.each do |rating| %>
						<div class="circle friend" id="friend<%= pin.id %>" style="background-image:url(<%= rating.user.profile_picture %>);background-size:2em 2em;">
						</div>
						<h3><%= rating.user.first.downcase %> <%= rating.user.last[0].downcase %></h3>
					<% end %>
				<% else %>
					<div class="circle friends">
						<%= pin.ratings.count %>
					</div>
					<h3 style="top:.05em;"><%= pin.ratings.count %> friends have been here</h3>
				<% end %>
			</div>
		</div>
		<% if pin.ratings.count != 1 %>
			<div class="row3" id="people<%= pin.id %>">
			<% pin.ratings.each do |rating| %>
				<div class="item">
					<div class="circle friend" id="friend<%= pin.id %>" style="background-image:url(<%= rating.user.profile_picture %>);background-size:2em 2em;">
					</div>
					<h3><%= rating.user.first %> <%= rating.user.last[0].upcase %></h3>
				</div>
			<% end %>
			</div>
		<% end %>
	<% end %>
</div>

<div id="yelp-results" class="pin-details" style="display:none">
	<h2>arts &amp; entertainment </h2>
	<% for i in 0..4 %>
		<% yelp_pin = @arts_pins[i] %>

		<div class="pin" id="yelppin<%= yelp_pin.id %>" data-id="<%= yelp_pin.id %>">
			<input type="checkbox" id="checkyelp<%= yelp_pin.id %>" style="display:none" name="yelp_stops[]" value="<%= yelp_pin.id %>">
			<div class="row row1">
				<div class="circle pushpin">
				</div>
				<h2><%= yelp_pin.title %></h2>
			</div>
			<div class="row row2">
				<div class="circle yelp">
				</div>
				<h3>recommended by Yelp</h3>
			</div>
		</div>
	<% end %>

	<h2>food &amp; beverage </h2>
	<% for i in 0..4 %>
		<% yelp_pin = @food_pins[i] %>

		<div class="pin" id="yelppin<%= yelp_pin.id %>" data-id="<%= yelp_pin.id %>">
			<input type="checkbox" id="checkyelp<%= yelp_pin.id %>" style="display:none" name="yelp_stops[]" value="<%= yelp_pin.id %>">
			<div class="row row1">
				<div class="circle pushpin">
				</div>
				<h2><%= yelp_pin.title %></h2>
			</div>
			<div class="row row2">
				<div class="circle yelp">
				</div>
				<h3>recommended by Yelp</h3>
			</div>
		</div>
	<% end %>

	<h2>tours &amp; attractions </h2>
	<% for i in 0..4 %>
		<% yelp_pin = @tour_pins[i] %>

		<div class="pin" id="yelppin<%= yelp_pin.id %>" data-id="<%= yelp_pin.id %>">
			<input type="checkbox" id="checkyelp<%= yelp_pin.id %>" style="display:none" name="yelp_stops[]" value="<%= yelp_pin.id %>">
			<div class="row row1">
				<div class="circle pushpin">
				</div>
				<h2><%= yelp_pin.title %></h2>
			</div>
			<div class="row row2">
				<div class="circle yelp">
				</div>
				<h3>recommended by Yelp</h3>
			</div>
		</div>
	<% end %>
</div>

<div class="plan-pintrip">
	<%= submit_tag "plan pintrip" %>
</div>
<% end %>

<button id="get-yelp">
	want more pins?
</button>

<script>
$(".pin .row1").click(function() {
	var id = $(this).parent().attr("data-id");
	$("#pin" + id).toggleClass("selected");
	$(this).children().toggleClass("selected");
	$(this).next().children().toggleClass("selected");
	if ($(this).prev().is(':checked')) {
		$(this).prev().prop("checked", false);
	} else {
		$(this).prev().prop("checked", true);
	}
});

$(".pin .row2").click(function() {
	var id = $(this).parent().attr("data-id");
	var next = $(this).parent().next();
	if (next.hasClass("row3")) {
		next.toggle();
		$(this).children().toggleClass("up");
	}
});

$("#get-yelp").click(function() {
	$(this).html("want fewer pins?");
	$("#yelp-results").toggle();
});

</script>































